body.blog {
	.page-intro.card-overlay::before {
		display: none;
	}
}

.blog-header {
	.page-title {
		font-weight: 400;
	}
}

.blog-content {
	background: #dcdddf;
	
	.post-inner {
		background-color: #fff;
		padding: 20px;
		margin-bottom: 30px;
	}
	
	.entry-title {
		font-size: 24px;
		margin-bottom: 25px;
		
		a {
			color: $text-color;
			
			@include hover();
		}
	}
	
	.entry-content {
		border-bottom: 1px solid $text-color;
		padding-bottom: 30px;
	}
	
	.read-more {
		margin-top: 20px;
		
		a {
			color: $theme-color;
			font-weight: 600;
		}
	}
}

.entry-meta {
	a {
		color: $text-color;
		
		@include hover();
	}
}