.btn {
<<<<<<< HEAD
	font-size: 14px;
=======
	font-size: 15px;
>>>>>>> a8107f9eed075d6803dc28447db88aa4125fd3e0
	padding: 10px 25px;
	border-radius: 0;
	white-space: normal;
	
	&:not(:disabled):not(.disabled).active:focus,
	&:not(:disabled):not(.disabled):active:focus,
	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
		outline: none;
	}
}

.btn-primary {
	color: #fff;
	background-color: $theme-color;
	border-color: $theme-color;
	
	&:focus,
	&:hover {
		color: $theme-color;
		background-color: transparent;
		border-color: $theme-color;
	}
	
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active {
		color: #fff;
		background-color: $theme-color;
		border-color: $theme-color;
	}
}

.btn-outline-primary {
	background-image: none;
	color: $theme-color;
	background-color: transparent;
	border-color: $theme-color;
	
	&:focus,
	&:hover {
		color: #fff;
		background-color: $theme-color;
		border-color: $theme-color;
	}
	
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active {
		background-image: none;
		color: $theme-color;
		background-color: transparent;
		border-color: $theme-color;
	}
}
