<<<<<<< HEAD
a {
	&:hover,
	&:focus {
		color: $theme-color;
		text-decoration: none;
	}
}

.theme-color {
	color: $theme-color;
}

.text-color {
	&,
	a {
		color: $text-color;
		
		@include hover();
	}
}

.theme-overlay::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto
}

a img.alignright {
	float: right;
	margin: 0.313rem 0 1.25rem 1.25rem
}

a img.alignnone {
	margin: 0.313rem 1.25rem 1.25rem 0
}

a img.alignleft {
	float: left;
	margin: 0.313rem 1.25rem 1.25rem 0
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption.alignnone {
	margin: 0.313rem 1.25rem 1.25rem 0
}

.wp-caption.alignleft {
	margin: 0.313rem 1.25rem 1.25rem 0
}

.wp-caption.alignright {
	margin: 0.313rem 0 1.25rem 1.25rem
=======
.py-6 {
	padding-bottom: 4rem !important;
	padding-top: 4rem !important;
}

.my-7 {
	margin-bottom: 5rem !important;
	margin-top: 5rem !important;
}

.py-7 {
	padding-bottom: 5rem !important;
	padding-top: 5rem !important;
}

.pt-7 {
	padding-top: 5rem !important;
}

.pb-7 {
	padding-bottom: 5rem !important;
}

.mb-6 {
	margin-bottom: 4rem !important;
}

.mb-7 {
	margin-bottom: 5rem !important;
}

@media (min-width: 992px) {
	.col-lg-5 {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

.info-bg-light {
	background-color: #dcdddf;
}

.info-bg-green {
	background-color: $theme-color;
}

.view_more {
	text-transform: uppercase;
	color: $theme-color;
	
	&:hover {
		text-decoration: none;
		color: $text-color;
	}
}

body {
	.theme-color {
		color: $theme-color;
	}
	
	.text-color {
		&,
		a {
			color: $text-color;
			
			@include hover();
		}
	}
}

.page-intro {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 650px;
	position: relative;
}

.page-title {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}

.page-subtitle {
	color: #fff;
	font-size: 26px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	margin: 0;
	
	ul {
		margin: 20px 0 0;
		padding: 0;
		list-style-position: inside;
		font-family: "Lato", sans-serif;
		font-weight: 300;
		
		strong {
			font-weight: bold;
		}
	}
	
	.btn {
		margin-top: 30px;
	}
}

.page-intro-img {
	max-width: 400px;
	margin-bottom: 20px;
}

.section-heading {
	color: $theme-color;
	font-size: 40px;
}

.section-subheading {
	font-size: 20px;
	margin-top: 15px;
}

a {
	&:hover,
	&:focus {
		color: $theme-color;
		text-decoration: none;
	}
}

.widget-title,
.theme-heading {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	
	&:after {
		content: "";
		display: block;
		width: 300px;
		height: 2px;
		background-color: $theme-color;
		margin: 20px auto;
	}
	
	&.text-left {
		&:after {
			margin-left: 0;
		}
	}
}

.widget-title {
	text-transform: uppercase;
}

.card-overlay::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet-active {
	opacity: 1 !important;
}

.aa-img-hover {
	position: relative;
	
	img {
		transition: 1s;
		
	}
	
	img:not(:first-child):last-child {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		z-index: 9;
		
		@media (max-width: $first-break-point) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	img:last-child:hover,
	img:hover + img {
		display: block !important;
	}
}

.single .entry-content,
.elementor-text-editor,
.left-content {
	ul {
		padding: 0;
		list-style: none;
		
		li {
			padding-left: 20px;
			position: relative;
			
			&::before {
				content: "";
				display: inline-block;
				@include size-equal(12px);
				background: $theme-color;
				position: absolute;
				top: 5px;
				left: 0;
			}
			
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
>>>>>>> a8107f9eed075d6803dc28447db88aa4125fd3e0
}

.pagination {
	margin-top: 30px;
	padding: 15px 0;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	.screen-reader-text {
		display: none
	}
	
	.nav-links {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		
		.page-numbers {
			font-size: 20px;
			line-height: 25px;
			color: $text-color;
			padding: 0 7px;
			-webkit-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
			
			&.current,
			&:active,
			&:hover {
				color: $theme-color
			}
			
		}
	}
}
