$border-color: #ced4da;

.select-box {
	.wpcf7-form-control-wrap {
		position: relative;
		display: inline-block;
		
		&::before,
		&::after {
			content: "";
			position: absolute;
			pointer-events: none;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 20%;
			height: 100%;
			pointer-events: none;
			border-left: 1px solid $border-color;
		}
		
		&::after {
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 15px solid $border-color;
		}
		
		&:hover::after {
			border-top-color: darken($border-color, 20%);
		}
		
		select {
			width: 275px;
			-webkit-appearance: button;
			appearance: button;
			
			option {
				padding: 15px;
			}
		}
	}
}
