<<<<<<< HEAD
label {
	display: block;
	margin: 0 0 5px;
	font-size: 16px;
=======
form {
	a {
		color: $theme-color;
		
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

label {
	display: block;
	margin: 0 0 3px;
	font-size: 16px;
	
	@media (min-width: $first-break-point + 1) {
		font-size: 20px;
	}
>>>>>>> a8107f9eed075d6803dc28447db88aa4125fd3e0
}

.form-control:focus {
	color: $text-color;
	border-color: $theme-color;
	box-shadow: none;
}

div.wpcf7-response-output {
	margin-left: 0;
	margin-right: 0;
<<<<<<< HEAD
=======
}

@import "custom-select";

@import "custom-checkbox";

.wpcf7-form-control.wpcf7-checkbox {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	
	.wpcf7-list-item {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0;
		
		@media (min-width: $second-break-point) {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

.form-submit {
	color: #fff;
	background: $theme-color;
	font-size: 20px;
	border-radius: 4px;
	padding: 5px 100px;
	text-transform: uppercase;
	cursor: pointer;
	
	@include hoverbg(null, $text-color);
>>>>>>> a8107f9eed075d6803dc28447db88aa4125fd3e0
}