img.custom-logo {
	max-width: 100px;
}

.navbar-toggler {
	display: flex;
}

.site-header {
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);

	.navbar-nav {
		li {
			a {
				color: #19232d;
				font-weight: 400;
				font-size: 14px;
				text-transform: uppercase;
				display: block;
				text-decoration: none;

				&:active {
					background-color: transparent;
				}
			}
		}

		> li {
			position: relative;

			> .nav-link {
				padding: 0 15px;
			}

			> a:hover {
				color: $theme-color;

				&:after {
					border-top-color: $theme-color;
				}
			}
		}

		li.current-menu-item > a {
			color: $theme-color;
		}
	}
}
